@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  background-color: #000;
  font-family: "Poppins";
  letter-spacing: 2px;
}

.profile-details {
  max-height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 30%;
  max-width: 140px;
  max-height: 140px;

  border: 4px solid rgb(87, 84, 79);

  width: 100%;

  object-fit: cover;

  border-radius: 50%;
}

.create-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 3px solid rgb(255, 79, 79);

  margin-top: 5%;
  height: 200px;
  max-width: 200px;

  width: 100%;

  object-fit: cover;

  border-radius: 50%;
}

.create-picture[src=""] {
  display: none;
}

.create-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 5%;
  height: 150px;
  max-width: 300px;
  width: 100%;

  object-fit: cover;

  border-radius: .675rem;
}

.create-bg[src=""] {
  display: none;
}



.profile-name {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 5px;
  font-weight: 600;
}

.profile-name::first-letter{
  text-transform: uppercase;
}

.desc {
  color: white;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  margin-bottom: 15px;
}

.linkdesc {
  color: rgba(255, 255, 255, 0.342);
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.author {
  opacity: 1;
  color: white;
  text-align: center;
  padding: 13px;
  font-size: 18px;
}

.author p{
  opacity: 1;
}

p{
  color: #fff;
}

.author a{
  opacity: 1;
  color: rgb(255, 79, 79);
  text-align: center;
  font-size: 18px;
}


.body{
  display: grid;
  max-width: 600px!important;
  margin: 0 auto;
  max-height: 100vh!important;
}

.social{
  color: #fff;
  padding: 5px;
  border: 0.1px solid rgb(73, 73, 73);
}

.social {
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: 0.9rem;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  background: #000;
  transition: all 800ms;
}

.social:hover{
  border: 0.1px solid rgb(155, 155, 155);
  background-color: rgb(8, 8, 8);
}

.editprofile {
  width: 25%!important;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 15px;
}

a:empty{
  display: none!important;
}

.author h2 span:empty::after{
  content: 'not links yet :(';
}

h1, h2, h3, h4 {
  color: rgb(173, 173, 173);
}

.loader {
  border: 4px solid #000000; /* Light grey */
  border-top: 4px solid rgb(255, 79, 79); /* Blue */
  border-radius: 50%;
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  border-radius: 5px!important;
  content: 'Choose image';
  display: inline-block;
  background-color: #000;
  border: 1px solid rgb(255, 79, 79);
  color: #fff;
  padding: 6px 90px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
  font-size: 10pt;
  transition: all 400ms;
}

.bginput{
  content: 'Bg'!important;
}

input[type="file"]{
  border: 0px;
}

input[type="file"]:hover::before {
  background-color: rgb(255, 79, 79);
  color: #000;
}


.formAccount{
  margin-top: 100px;
}

input{
  text-align: center;
}

.images{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-left: 10px;
}