@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  background-color: rgb(0, 0, 0);
  font-family: "Poppins";
  letter-spacing: 2px;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 20%;
  height: 200px;
  max-width: 200px;

  width: 100%;

  object-fit: cover;

  border-radius: 50%;
}

.create-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 3px solid #8d35f1;

  margin-top: 5%;
  height: 200px;
  max-width: 200px;

  width: 100%;

  object-fit: cover;

  border-radius: 50%;
}

.create-picture[src=""] {
  display: none;
}

.profile-name {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 38px;
}

.desc {
  color: white;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  margin-bottom: 15px;
}

.author {
  opacity: .1;
  color: white;
  text-align: center;
  padding: 13px;
  font-size: 18px;
}

.social::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.social:hover::before {
  color: #fff;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.social::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #8d35f1;
  z-index: -1;
  transition: transform .3s ease;
}

.body{
  display: grid;
}

.social{
  color: #fff;
  padding: 5px;
  border: 2px solid #8d35f1;
}

.social {
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:empty{
  display: none!important;
}

.loader {
  border: 4px solid #000000; /* Light grey */
  border-top: 4px solid #8d35f1; /* Blue */
  border-radius: 50%;
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: 'Select picture';
  display: inline-block;
  background-color: #000;
  border: 1px solid #8d35f1;
  color: #fff;
  padding: 6px 90px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
  font-size: 10pt;
  transition: all 400ms;
  
}

input[type="file"]{
  border: 0px;
}

input[type="file"]:hover::before {
  background-color: #8d35f1;
  color: #000;
}